.album{
    //background-color: red;
    display:flex;
    flex-direction: row;
    //justify-content: center;
    align-items: center;
    color:aliceblue;
    width: 80%;
    height: 80%;
    margin-left: 100px;
    padding: 40px;

    &__info{
        flex-direction: column;
        margin-left: 60px;
        margin-top:200px;
      
    }
    .album__image{
        width: 300px;
        height: 300px;
        margin-top: 100px;
    }
    .album__title{
        font-size: 50px;
    }
    .album__year{
        font-size:45px;
        color:red;
        margin-bottom: 30px;
    }
  
}









