


    <div  
     *ngIf="currentAlbum"
      class="album">
         <div  class="album__info">
            <img class="album__image"[src]="currentAlbum.image">
         </div>
         <div class="album__info">
            <div >  
                <p class="album__title">{{currentAlbum.name}}</p>
                <p class="album__year">{{currentAlbum.year}}</p>
            </div>
            <div class="album__songs" *ngFor="let song of currentAlbum.songs">
                 <p class="album__song">{{song.title}}</p>
            </div>
        </div>
    </div>
   
    
    




