
*{
    text-decoration: none;
 }

.header{

    display:flex;
    justify-content: space-around;
    background-color: lightcoral;

    &__a{

        color: black;
        
    }
    &__select{
        background-color: lightcoral;
        appearance: none;
        border:none;
        width: 60px;
        color: black;
        
    }
}