@media screen and (max-width: 712px) {


    .header{
        flex-direction: column;
        align-items: center;
        width: 100%;
        //height: 100px;
        margin-top: 20px;
        margin-bottom: 20px;
        color: red;
        position: relative;
        box-shadow: none;
    }
    .photo{
        height: 0%;
        width: 0%;
    }
  
    .footer{
        margin-top: 10px;
        height: 18px;
        position: relative;
        align-items: center;
    }

    .footer-list {
     flex-direction: column;
     margin-bottom: 4px;
     margin-top:10px;
     background-color: red;
    }

    .pictures{
        flex-direction: column;
    }

}

