.home{
    display: flex;
    justify-content: space-around;
    //background-color: var(--primary-color);
    height: 80vw;
    
    flex-wrap: wrap;
    //padding: 24px;
    justify-content: center;
    margin-top: 40px;
    color:red;

}

  