
.pictures{
    display: flex;
    justify-content: space-evenly;
    

    &__image{
        margin-top:80px;
        height: 200px;
        width: 200px;
        padding: 80px;
        display:block;
        margin:auto;
        margin:auto;
    }
    &__image:hover{
        transform: rotate(360deg);
        transition-duration: 2s;
    }
}

.text{
    display:flex;
    flex-direction:column;

    &__title{
    justify-content: center;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    color:whitesmoke;
    margin-bottom: 40px;
    margin-top: 40px;
    }
    &__p{
    margin-left:40px;
    text-align: center;
    color:whitesmoke;

    }
}



    
    
   



  