.footer-list {
    display: flex;
    // flex-direction: column;
    justify-content: space-evenly;    
    background-color: whitesmoke;
    padding:10px;
    margin-bottom: 30px;
    height: 40px;
    box-shadow: 4px 2px 2px 1px rgba(0.5, 0.3, 0.2, 0.2);
    // width: 80vw;
  }