

<!-- <div class ="album"
   *ngIf="cd">
   <img class="album__image"[src]="cd.image">
   <p class ="album__name">{{cd.name}}</p>
   <a class ="album__a"[routerLink]="['/detail', cd.id]">Ver más</a>
</div> -->
<div class="card"
    *ngIf="cd">
    <img class="album__image"[src]="cd.image" alt="...">
     <div class="card-body">
     <p class ="album__name">{{cd.name | uppercase}}</p>
     <p class ="album__name">{{cd.year }}</p>
     <button
     class="product__delete"
     *ngIf="cd"
     (click)="onDelete()"
 >Eliminar</button>
     <a class ="album__a"[routerLink]="['/detail', cd.id]">Ver más</a>
     
   </div>
 </div>

