

<div class="album"
    *ngIf="cd">
      <img class="album__image"[src]="cd.image" alt="...">
      <div class="album__info">
          <p class ="album__name">{{cd.name | titlecase}}</p>         
      </div>
      <div class="buttons">    
          <button class="buttons__button"
          *ngIf="cd"
          (click)="onDelete()" class="buttons__button">Eliminar</button>
          <button  class="buttons__button"[routerLink]="['/detail', cd.id]">Ver más</button>
          <button  class="buttons__button"[routerLink]="['/edit-product', cd.id ]">Edit</button>
      </div>
 </div>

