<form
   *ngIf="albumForm"
   [formGroup]="albumForm"
   (sumbit)="saveAlbum()"
   class="form"
   >


    <!-- <div class="field-container">
        <input class="form__input" placeholder="Id" formControlName="id">
        <p 
          *ngIf="!albumForm.get('id')?.valid && albumForm.get('id')?.dirty"
          class="input-error">
          El Id es requerido
        </p>
    </div> -->
    <div class="field-container">    
        <input class="form__input" placeholder="Name" formControlName="name">
        <p 
          *ngIf="!albumForm.get('name')?.valid && albumForm.get('name')?.dirty"
          class="input-error">
          El Name es requerido
        </p>
    </div>
    <div class="field-container">    
        <input class="form__input" placeholder="Imagen" formControlName="image">
        <p 
           *ngIf="!albumForm.get('image')?.valid && albumForm.get('image')?.dirty"
           class="input-error"
           >La imagen es requerida
        </p>
    </div>
    <div class="field-container">
        <input class="form__input" placeholder="Year" formControlName="year">
        <p 
          *ngIf="!albumForm.get('year')?.valid && albumForm.get('year')?.dirty"
          class="input-error"
          >El año  es requerido
        </p>
    </div>
    <button
       class="button"
       type="submit"
       [disabled]="!albumForm.valid"
       >{{ album ? 'Edit' : 'Create'}}</button>
</form>
